[submodule "ezrknn-llm"]
	path = ezrknn-llm
	url = https://github.com/Pelochus/ezrknn-llm
	branch = main
[submodule "ezrknn-toolkit2"]
	path = ezrknn-toolkit2
	url = https://github.com/Pelochus/ezrknn-toolkit2
	branch = main
